@import "../../../style.scss";

.accordion-container { // Usa il trattino anziché l'underscore per la consistenza con le classi CSS
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .accordion-item {
    .accordion-title {
      background: $bg-primary;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px; // Aggiungi un po' di padding
      // Aggiungi qui gli altri stili come margin, padding, ecc.
    }

    .accordion-icon {
      // Aggiungi gli stili per l'icona '+/-'
      padding: 0 20px;
    }

    .accordion-content {
      display: none;
      padding: 20px;
      background: $bg-gallery; // Fai vedere il contenuto con un background diverso
      // Aggiungi qui gli altri stili come margin, padding, ecc.
    }

    &.active .accordion-content { // Assicurati che il selettore sia specifico per gli elementi attivi
      display: block;
      // Aggiungi una transizione se lo desideri
    }
  }
}
