// accordion.scss

@import "../../../style.scss";

.accordion-container {
  max-width: 1023px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;

  .accordion-item {
    overflow: hidden;

    .accordion-title {
      height: 54px;
      color: $white-txt;
      background: $primary;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px 10px 15px;
      font-size: 24px;
      font-weight: 700;
      line-height: 142.6%; /* 34.224px */
      box-sizing: border-box;
    }

    .accordion-icon {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;

      
      cursor: pointer;
      transition: transform 0.5s ease-out;
    }

    .accordion-content {
      max-height: 0;
      transition: max-height 0.5s ease-out, padding 0.5s ease;
      text-align: start;
      background: $bg-gallery;
      border-radius: 10px 10px 5px 5px;
      font-size: 18px;
      font-weight: 400;
      line-height: 142.6%; /* 25.668px */
      padding: 0 20px;
    }

    &.action .accordion-icon {
      transform: rotate(-180deg);
    }

    &.action .accordion-content {
      max-height: 1000px;
      padding: 20px;
    }
  }
}

@media (max-width: $frfrs) {
  .accordion-container {
    .accordion-item {
      .accordion-title {
        height: 30px;
        font-size: 13px;
      }
      .accordion-icon {
        font-size: 13px;
      }

      .accordion-content {
        border-radius: 5px;
        font-size: 12px;
        line-height: 142.6%; /* 17.112px */
      }
    }
  }
}
