// banner.scss

@import "../../../style.scss";

.banner {
  background: $bg-secondary url("./IMGbanner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1240px;
  width: 100%;
  height: 223px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
  transition: all 1s ease-in-out;


  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: inherit;
    pointer-events: none;
  }

  .banner_text {
    position: absolute;
    color: $white-txt;
    font-size: 48px;
    font-weight: 700;
    text-shadow: $text-shadow;
    z-index: 1;
    transition: all 1s ease-in-out;
  }

  .br {
    display: none;
  }
}

@media (max-width: 1024px) {
  .banner {
    min-width: 335px;
    width: 100%;
    height: 111px;

    .banner_text {
      font-size: 24px;
      line-height: 100%; /* 24px */
      text-align: center;
    }

    .br {
      display: none;
    }
  }

}

@media (max-width: 430px) {
  .banner {
    min-width: 335px;
    width: 100%;
    height: 111px;
    justify-content: flex-start;

    .banner_text {
      display: none;
      
    }

    .br {
      display: block;
      font-size: 24px;
      line-height: 100%; /* 24px */
      padding-left: 16px;
      text-align: start;
    }
  }

}