// Logemeny.scss

@import "../../style.scss";

.pasdelogement {
  color: $primary;
}

.logement {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logement-firstBlock {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logement-firstColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    #logement-title {
      text-align: left;
      color: $primary;
      font-size: 36px;
      font-weight: 500;
      line-height: 142.6%; /* 51.336px */
    }

    #logement-location {
      font-size: 18px;
      font-weight: 500;
      line-height: 142.6%; /* 25.668px */
    }

    .logement-tagBlock {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
    }
  }

  .logement-secondColumn {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
  }

  .logement-secondBlock {
    width: 100%;
    max-width: 1240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 76px;
    margin-top: 24px;
  }
}

@media (max-width: $frfrs) {
  .logement {
    .logement-firstBlock {
      margin-top: 20px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .logement-firstColumn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        #logement-title {
          text-align: left;
          color: $primary;
          font-size: 36px;
          font-weight: 500;
          line-height: 142.6%; /* 51.336px */
        }

        #logement-location {
          font-size: 18px;
          font-weight: 500;
          line-height: 142.6%; /* 25.668px */
        }

        .logement-tagBlock {
          align-items: center;
          gap: 10px;
        }
      }
    }
    .logement-secondBlock {
      gap: 38px;
    }
  }
}

@media (max-width: $frfrroot) {
  .logement {
    .logement-firstBlock {
      margin-top: 15px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .logement-firstColumn {
        width: 100%;
        #logement-title {
          font-size: 18px;
          font-weight: 500;
          line-height: 142.6%; /* 25.668px */
        }
        .logement-tagBlock {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
    .logement-secondColumn {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap: 25px;
    }

    .logement-secondBlock {
      flex-direction: column;
      gap: 20px;
    }
  }
}
