//  redbox.scss

@import "../../../style.scss";

.redbox {
  width: 150px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  border-radius: 10px;
  color: $white-txt;
  font-size: 14px;
  font-weight: 700;
  line-height: 142.6%; /* 19.964px */

}

@media (max-width: $frfrs) {
  .redbox {
    width: 84px;
    height: auto;
    min-height: 18px;
    border-radius: 5px;
    font-size: 10px;
  }
}
