@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  margin: 0 auto;
  padding-top: 45px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}

header {
  width: 1240px;
  text-decoration: none;
  color: #000000;
}
header a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  width: 210.322px;
  height: 68px;
  border-color: #000000;
}
.logo img {
  width: 100%;
}

.menu {
  width: 309px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 57px;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
}
.menu .accueil {
  width: 136px;
  text-align: right;
}
.menu .propos {
  width: 116px;
  text-align: right;
}
.menu .underline {
  text-decoration-line: underline;
}

.banner {
  background: #000000 url("../public/IMGbanner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 1240px;
  height: 223px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
}
.banner:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: inherit;
  pointer-events: none;
}
.banner .banner_text {
  position: absolute;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.container {
  width: 1240px;
  height: auto;
  background: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 50px;
  grid-column-gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 56px;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Media query per adattare la griglia a schermi più piccoli */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* Due colonne per schermi medi */
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Una colonna per schermi piccoli */
  }
}
.card {
  background: #ff6060;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 340px;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  position: relative;
  border-radius: 25px;
}
.card:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(42%, rgba(10, 10, 10, 0)), color-stop(99.99%, rgba(4, 4, 4, 0.2)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.2) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: inherit;
}
.card .card_text {
  position: absolute;
  width: 300px;
  height: 52px;
  text-align: left;
  padding-bottom: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

footer {
  width: 100%;
}

.footer {
  width: 513px;
  height: 114px;
  padding: 66px 464px 29px 463px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28.556px;
  background: #000000;
}
.footer #footer-logo {
  width: 122px;
  height: 39.4px;
}
.footer #footer-text {
  width: 513px;
  height: 46px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 34.224px */
}

@media (max-width: 1240px) {
  .footer {
    width: 375px;
    height: 209px;
    padding: 66px 120px 58px 120px;
  }
  .footer #footer-text {
    width: 133.594px;
    height: 46px;
    word-wrap: break-word;
    font-size: 12px;
    font-weight: 500;
    line-height: 142.6%; /* 17.112px */
  }
}/*# sourceMappingURL=style.css.map */