// Colors

$white-1: #ffffff;
$white-2: #F6F6F6;
$white-3: #f3f3f3;
$black-1: #000000;
$black-2: #101010;
$green-1: #99e2d0;
$green-2: #008766;
$blue-1: #89c8fa;
$blue-2: #003a68;
$grey-1: #353535;
$grey-2: #eaeaea;
$grey-3: #7E7E7E;
$pink: #FF79DA;
$transition_loader: #C966DB;
$violet: #9356dc;

// Color attribution

$logo-bg: $white-1;
$logo-txt: $black-2;

$location-bg: $grey-2;
$location-txt: $grey-1;

$presentation-sheet-bg: $white-2;
$presentation-title: $black-1;
$presentation-txt: $grey-1;

$underline-menu: $green-1;

$tag-nouveau: $green-1;
$green-font: $green-2;

$choice-stik: $green-1;

$location-bg: $grey-2;
$location-txt: $grey-1;

$background-1: $white-2;
$background-2: $white-3;

//  button
$primary: $violet;
$secondary: $pink;
$btn-txt: $white-1;