// _colors.scss

// Colors

$white-1: #ffffff;
$black-1: #000000;
$red-1: #FF6060;
$grey-1: #C4C4C4;
$grey-2: #E3E3E3;

// Color attribution

$primary: $red-1;
$footer: $white-1;
$bgprimary: $white-1;
$bgfooter: $black-1;
$filled-star: $red-1;
$empty-star: $grey-2;
$host: $grey-1;
