// _header.scss

header {
  width: 1240px;
  text-decoration: none;
  color: $black-txt;

  a {
    text-decoration: none;
    color: inherit;
  }
}
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .logo {
    width: 210.322px;
    height: 68px;
    border-color: $black-txt;

    img {
      width: 100%;
    }
  }

  .menu {
    width: 309px;
    height: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 57px;
    color: $black-txt;
    font-size: 24px;
    font-weight: 500;

    .accueil {
      width: 136px;
      text-align: right;
    }

    .propos {
      width: 116px;
      text-align: right;
    }

    .underline {
      text-decoration-line: underline;
    }
  }


