// Shadows

$shadow_normal: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$shadow_hover: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
$shadow_howto: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$shadow_howto-hover: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
$shadow_cards: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
$shadow_menu: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
$shadow_stamp: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

