#root {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 45px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Temporary CSS */

.footer {
  width: 513px;
  height: 114px;
  padding: 66px 464px 29px 463px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 28.556px;
  background: #000;
}

#footer-logo {
  width: 122px;
  height: 39.4px;
}

#footer-text {
  width: 513px;
  height: 46px;
  color: #fff;
  text-align: center;
  font-family: ar;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%; /* 34.224px */
}

@media (max-width: 1240px) {
  .footer {
    width: 375px;
    height: 209px;
    padding: 66px 120px 58px 120px;

    #footer-text {
      width: 133.6px;
      height: 46px;
      color: white;
      word-wrap: break-word;
      font-size: 12px;
      font-weight: 500;
      line-height: 142.6%; /* 17.112px */
    }
  }
}
